body {
    margin: 0;
    height: 100vh;
}

* {
    font-family: 'Roboto', monospace;
}

.container {
    width: 100%;
    margin: auto;
    transition: width 0.2s ease-in-out;
}

.clickable {
    cursor: pointer;
}

@media (min-width: 576px) {
    .container {
        width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


.h-window {
    height: 100vh!important;
}